<a href="https://colab.research.google.com/github/naveenkraavula007/naveenkraavula007/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pyhton Basics**

In [6]:
#Printing Hello World Basic Syntax
print("Hello");
print("Hello world!")

Hello
Hello world!

In [ ]:
#printing Different Types of Addition of Two Numbers
a = 10
b = 20
c = a + b
print(a + b)
print("The Sum of {} and {} is {}".format(a,b,c))
print(a + b);
print(c)

30
The Sum of 10 and 20 is 30
30

# ***Identifiers***

Rules to define identifiers:

1.  Allowed characters => Alphabets, Digits and Underscore Symbol

2.  Identifier should never start with a digit

3.  Case Sensitive.

4.  No length limit.

5.  Can't use reserved words for identifier.

In [ ]:
#Identifiers

abcd123 = 10
Abc456 = 20
xyz_789 = 30

print(abcd123)
print(Abc456)
print(xyz_789)

10
20
30

# **Importing Reserved Key Words**

In [ ]:
#Importing Reserved Key Words and Length of  Keywrods List
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

# **Comments in Python**

1. #is used for single Line Comment
2. '''abcdefg'''' These Triple Inverted Commas used for Multi lIne Comment
3. """xyzsdf""" These Triple Double Inverted Commas used for Multi Line Comment

In [ ]:
# This is a single line comment

'''
This is a
Multiline Comment - 1
'''

"""
This is also
Multiline Comment - 2
"""

'\nThis is also\nMultiline Comment - 2\n'

# **Input & Output**

In [ ]:
# how to take input from user
input()
input("enter any number: ")

a = input("enter a number: ")
print(a)

789
enter any number: 456
enter a number: 654
654

In [ ]:
# WAP to get two integer numbers from user and add them
a = int(input("a = "))
b = int(input("b = "))
print(a + b)
print(type(a + b))

a = 6
b = 3
9
<class 'int'>

In [ ]:
# WAP to get any float number from user
a = float(input("enter a float number : "))
print(a)
print(type(a))

enter a float number : 60
60.0
<class 'float'>

In [ ]:
# The Below Code is Printing out in different format
a = 5

b = 6

c = 'string'

print(a, b, c)

print('%d %d %s' % (a, b, c))

print('{} {} {}'.format(a, b, c))

print('{0} {1} {2}'.format(a, b, c))

#this line has different format output
print('{2} {0} {1}'.format(c, a, b))

# This line will through the error and its just a understanding purpose onlyn
print('{2} {4} {6}'.format(a, b, c))

5 6 string
5 6 string
5 6 string
5 6 string
6 string 5

IndexError: ignored

In [ ]:
#the below line will print the given value 6 Multiple Times
print('54'*6)

print(5,6,7) # sep = ' ', end = '\n'

print('Python', 1, 2)

#the below line code will separated by !
print(1,2,3, sep='!')

#the below line code will separated by , and ended with !!
print(1,2,3, sep=',', end='!!\n')

print(123)

545454545454
5 6 7
Python 1 2
1!2!3
1,2,3!!
123

In [ ]:
#the below Code will Break The Current Line and Enters into new line
print("Hello\nNaveen Kumar Aavula\nHow Are You Doing\nThese are n Statements\n")

#\t will give the space in b/w The Words
print("Hello\nNaveen Kumar Aavula\tHow Are You Doing\nThese are n Statements")

Hello
Naveen Kumar Aavula
How Are You Doing
These are n Statements

Hello
Naveen Kumar Aavula	How Are You Doing
These are n Statements

# **Operators**

Operators are Basically used to perform operations on values and variables. These are the special symbols that carry out arithmetic and logical computations. The value the operator operates on is known as Operand. 

Different Types Operators available in python are:

1.Arithmatic (+, -, , /, %, //, **)

2.Relational (>, >=, <, <=)

3.Equality (==, !=)

4.Logical (and, or, not)

5.Bitwise (&, |, ^, ~, <<, >>)

6.Assignment (=, +=, -=, *=, /=, etc..)

7.Ternary

8.Identity --> is, is not (used for address comparision)

9.Membership --> in, not in

In [ ]:
# Arithmatic Operators
a = 20
b = 10
print('a + b = ', a + b) # This Symbol will print the Sum of Two Numbers
print('a - b = ', a - b) # This Symbol Will print the Substraction of Two Numbers
print('a * b = ', a * b) # This Symbol will print the Multiplication of Two Numbers
print('a / b = ', a / b) # This Symbol will print the Devision of Two Numbers
print('a % b = ', a % b) # This Symbol will print the remainder of the division of left operand by the right
print('a // b = ', a // b) # This Symbol will print the division that results into whole number adjusted to the left in the number line
print('a ** b = ', a ** b) # This Symbol will print the left operand raised to the power of right

a + b =  30
a - b =  10
a * b =  200
a / b =  2.0
a % b =  0
a // b =  2
a ** b =  10240000000000

In [ ]:
# Relational Operators
# These Relational Ship Operators will checks the Condition and Give The Results into "True/False" statemnet
a = 10
b = 30
print("a < b = ", a < b)
print("a > b = ", a > b)
print("a <= b = ", a <= b)
print("a >= b = ", a >= b)

a < b =  True
a > b =  False
a <= b =  True
a >= b =  False

In [ ]:
# Equality Operators

a = 10
b = 40
print("a == b", a == b)
print("a! = b", a != b)
print("a == a", a == a)

a == b False
a! = b True
a == a True

# **Logical Operators**

We have 3Types Logical Operators in Python

1.NOT; **#Hint:** it is completely Opposite

2.And; **#Hint:** the Both Conditions are **"True"** Then only its **"True"** otherwise **"False"**

3.OR; **#Hint:** the Both Conditions are **"False**" Then only its **"False"** otherwise  **"True"**

In [ ]:
# Logical Operators
x = 5
x == 5
print(not  x == 5,"\n")

cond_1 = 10 < 20
cond_2 = 30 < 50
print(cond_1)
print(cond_2)
print(cond_1 and cond_2,"\n")

a = 5
b = 6
c = 9
print(a > b)
print(b > c)
print(a > b or b > c)

False

True
True
True

False
False
False

# **Bitwise Operators**

1.**&** -> if both bits are **1** then **1** otherwise **0**

2.**|** -> if both bits are **0** then **0** otherwise **1**

3.**^** -> if both bits are different then **1** otherwise **0**

4.~ -> bitwise complement

In [ ]:
print(10 & 15)
print(10 | 15)
print(10 ^ 15)
print(~10)

10
15
5
-21

# **Shift Operators**

These operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used when we have to multiply or divide a number by two. 

**Right Shift:** Right Shift is Nothing But the given Number devide by 2 and its Removes The Decimal Part

**Left Shift:** Left Shift is Nothing but the given Number Multiply with 2

In [ ]:
# Right Shift Operator
a = 10
print(a >> 1) # which meas 2 to the power 1
b = 100
print(b >> 2) # which means 2 to the power of 2
c = 200
print(c >> 3,"\n") # which means 2 to the power of 3, # if n = n means 2 to the power of n 

# Left Shift Operator
x = 10
print(x << 1) # which means Multiply with 2 to the power of 1
y =  20
print(y << 2) # which means Multiply with 2 to the power of 2
z = 100
print(z << 3) # which means Multiply with 2 to the power of 3

5
25
25

20
80
800

In [ ]:
# Assingment Operators
x = 10
x += 2 # which means x is increamneted by 2
print(x,"\n")

y = 10 # which means y is decreamented by 2
y -= 2
print(y,"\n")

z = 10
z *= 2 # which means z is multiplied with 2
print(z,"\n")

a = 10
a /= 2 # which means a is devided by 2
print(a)

12

8

20

5.0

# **Ternary Operator**

Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false.

It simply allows to test a condition in a single line replacing the multiline if-else making the code compact.

**Syntax :**
[on_true] if [expression] else [on_false]

In [ ]:
a = 10
b = 20
min = a if a < b else b
print(min)
max = a if a > b else b
print(max)

10
20

# **Identity Operators**
1.**is** -> Returns true if both variables are the same object

2.**is not** -> Returns true if both variables are not the same object

In [ ]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x

print(x is z) # returns True because z is the same object as x
print(x is y) #returns False because x is not the same object as y, even if they have the same content
print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

# Observe the ID's These  varaibles
print(id(x)) # it will print the id of x
print(id(y)) # it will print the id of y
print(id(z)) #it will print the  id of z

True
False
True
139848180015984
139848180259808
139848180015984

In [ ]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x

print(x is not z) # returns False because z is the same object as x
print(x is not y) #returns True because x is not the same object as y, even if they have the same content
print(x != y) # to demonstrate the difference betweeen "is not" and "!=": this comparison returns True because x is equal to y

# Observe the ID's These  varaibles
print(id(x)) # it will print the id of x
print(id(y)) # it will print the id of y
print(id(z)) #it will print the  id of z

False
True
False
139848180233552
139848235099632
139848180233552

# Membership Operators

**in:** Returns True if a sequence with the specified value is present in the object

**not in:** Returns True if a sequence with the specified value is not present in the object

In [ ]:
# "in" Membership operator
x = ["apple","banana"]
print("banana" in x) #returns True because a sequence with the value "banana" is in the list

True

In [ ]:
# "not in" Membership Operator
x = ["apple","banana"]
print("apple" not in x) # returns False because a sequence with the value "pineapple" is in the lis
print("pineapple" not in x) # returns True because a sequence with the value "pineapple" is not in the lis

False
True